<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="junki_acker">

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="laser.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="imu.xacro" />
    <xacro:include filename="camera.xacro" />

</robot>
